[[plugins]]
repo = 'Shougo/dein.vim'

[[plugins]]
repo = 'vim-scripts/wombat256.vim'

[[plugins]]
repo = 'cocopon/iceberg.vim'

[[plugins]]
repo = 'itchyny/lightline.vim'
depends = ['iceberg.vim']
hook_add = 'source ~/.vim/rc/plugins/lightline.rc.vim'

[[plugins]]
repo = 'airblade/vim-gitgutter'
hook_add = '''
let g:gitgutter_map_keys = 0
nmap [g <Plug>GitGutterPrevHunk
nmap ]g <Plug>GitGutterNextHunk
'''

[[plugins]]
repo = 'machakann/vim-sandwich'
hook_add = '''
nmap s <Nop>
xmap s <Nop>
'''

[[plugins]]
repo = 'mattn/sonictemplate-vim'

[[plugins]]
repo = 'vim-jp/vimdoc-ja'
hook_add = '''
set helplang=ja,en
'''

[[plugins]]
repo = 'urbainvaes/vim-remembrall'
hook_add = '''
let g:remembrall_normal_keys = ["[", "]"]
let g:remembrall_window = 'topleft 30new'

nnoremap <silent> , :call remembrall#remind('n', ',')<cr>
nnoremap <silent> ,? :call remembrall#remind('n', ',')<cr>
vnoremap <silent> ? :call remembrall#remind('n', '')<cr>
'''
