.vim/bundle/
.vim/dein/
.netrwhist
.vim/bundle/neobundle.vim
*.pyc
.vim/secrets/dein_token.vim
.config/nvim/plugin
.config/pgcli/history
.config/pgcli/log
.zsh/workalias.zsh

# claude code
.claude/projects
.claude/statsig
.claude/todos
