[user]
	email = lighttiger2505@gmail.com
	name = lighttiger2505
[ghq]
	root = ~/dev/src
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
	ff = false
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "vimdiff"]
	cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[difftool]
	prompt = true
[mergetool]
	prompt = true
[pull]
	ff = only
	rebase = true
[branch "master"]
	rebase = true
[branch "develop"]
	rebase = true
[includeIf "gitdir:~/dev/src/github.com/"]
	path = ~/.gitconfig-private
[includeIf "gitdir:~/dev/src/github.dena.jp/"]
	path = ~/.gitconfig-work
[commit]
	template = ~/.gitmessage.txt
[credential]
	helper = osxkeychain
[url "ssh://git@github.com/MobilityTechnologies/"]
	insteadOf = https://github.com/MobilityTechnologies/
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[alias]
    wtnew = "!f() { \
        if [ $# -ne 2 ]; then \
            echo \"Usage: git wtnew <base_branch> <new_branch>\" >&2; \
            exit 1; \
        fi; \
        base=$1; \
        new=$2; \
        main_root=$(git worktree list --porcelain | awk '/^worktree /{print $2; exit}') || exit 1; \
        repo=$(basename \"$main_root\"); \
        parent_dir=$(dirname \"$main_root\"); \
        sanitized=${new//\\//-}; \
        worktrees_dir=\"$parent_dir/${repo}-worktree\"; \
        dest=\"$worktrees_dir/${sanitized}\"; \
        mkdir -p \"$worktrees_dir\"; \
        git worktree add -b \"$new\" \"$dest\" \"$base\"; \
    }; f"
	st = status
	br = branch
	brd = branch -D
	co = checkout
	cob = checkout -b
	co = commit
	coa = commit --amend
	me = merge
	menf = merge --no-ff
	meff = merge --ff
	pu = pull
	cp = cherry-pick
[url "ssh://git@github.com"]
	insteadOf = https://github.com
[wt]
	basedir = ../{gitroot}-worktrees
	copy = .envrc
	hook = git submodule update --init --recursive
