[user]
	email = lighttiger2505@gmail.com
	name = lighttiger2505
[ghq]
	root = ~/dev/src
[core]
	excludesfile = ~/.gitignore_global
[merge]
	tool = vimdiff
	ff = false
[diff]
	tool = vimdiff
[difftool "vimdiff"]
	cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[mergetool "vimdiff"]
	cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[difftool]
	prompt = true
[mergetool]
	prompt = true
[pull]
	ff = only
	rebase = true
	ff = only
[branch "master"]
	rebase = true
[branch "develop"]
	rebase = true
[includeIf "gitdir:~/dev/src/github.com/"]
	path = ~/.gitconfig-private
[includeIf "gitdir:~/dev/src/github.dena.jp/"]
	path = ~/.gitconfig-work
[commit]
	template = ~/.gitmessage.txt
[credential]
	helper = osxkeychain
[url "ssh://git@github.com/MobilityTechnologies/"]
	insteadOf = https://github.com/MobilityTechnologies/
[push]
	autoSetupRemote = true
