# cursor speed more faster
# check your device `xinput list`
xinput --set-prop 'TPPS/2 Elan TrackPoint' 'libinput Accel Speed' 0.6
# xinput --set-prop 'SynPS/2 Synaptics TouchPad' 'libinput Accel Speed' 0.7
xinput --set-prop 'SynPS/2 Synaptics TouchPad' 'Device Enabled' 0
