!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.geometry:             96x32
URxvt.scrollBar:            false
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plane
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         false
URxvt.visualBell:           false
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:Hack Nerd Font Mono:pixelsize=16, xft:IPAGothic
URxvt.letterSpace:          -1
!URxvt.lineSpace:            0

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
URxvt.depth:                32
URxvt.color0:               [95]#282828
URxvt.color1:               [95]#cc241d
URxvt.color2:               [95]#98971a
URxvt.color3:               [95]#d79921
URxvt.color4:               [95]#458588
URxvt.color5:               [95]#b16286
URxvt.color6:               [95]#689d6a
URxvt.color7:               [95]#a89984
URxvt.color8:               [95]#928374
URxvt.color9:               [95]#fb4934
URxvt.color10:              [95]#b8bb26
URxvt.color11:              [95]#fabd2f
URxvt.color12:              [95]#83a598
URxvt.color13:              [95]#d3869b
URxvt.color14:              [95]#8ec07c
URxvt.color15:              [95]#ebdbb2
URxvt.foreground:           [95]#ebdbb2
URxvt.background:           [95]#282828
URxvt.colorIT:              [95]#8ec07c
URxvt.colorBD:              [95]#d5c4a1
URxvt.colorUL:              [95]#83a598
URxvt.scrollColor:          [95]#504945
!URxvt.troughColor:          [90]#3C3836

urxvt.perl-ext: xim-onthespot
urxvt.perl-ext-common: resize-font,clipboard
urxvt.inputMethod: fcitx
urxvt.preeditType: OnTheSpot

URxvt.resize-font.step: 1
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger

URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
