!! ~/.Xresources

!!
!! rxvt-unicode (urxvt)
!!

URxvt.geometry:             96x32
URxvt.scrollBar:            false
URxvt.scrollBar_right:      true
URxvt.scrollBar_floating:   true
URxvt.scrollstyle:          plane
URxvt.cursorBlink:          true
URxvt.cursorUnderline:      false
URxvt.pointerBlank:         false
URxvt.visualBell:           false
URxvt.saveLines:            3000
URxvt.fading:               40

!! Font list and Spacing
URxvt.font:                 xft:Hack Nerd Font Mono:pixelsize=16, xft:IPAGothic
URxvt.letterSpace:          -1
!URxvt.lineSpace:            0

!! Color Scheme and Opacity - gruvbox-dark https://github.com/morhetz/gruvbox
URxvt.depth:                32
URxvt.color0:               [98]#282828
URxvt.color1:               [98]#cc241d
URxvt.color2:               [98]#98971a
URxvt.color3:               [98]#d79921
URxvt.color4:               [98]#458588
URxvt.color5:               [98]#b16286
URxvt.color6:               [98]#689d6a
URxvt.color7:               [98]#a89984
URxvt.color8:               [98]#928374
URxvt.color9:               [98]#fb4934
URxvt.color10:              [98]#b8bb26
URxvt.color11:              [98]#fabd2f
URxvt.color12:              [98]#83a598
URxvt.color13:              [98]#d3869b
URxvt.color14:              [98]#8ec07c
URxvt.color15:              [98]#ebdbb2
URxvt.foreground:           [98]#ebdbb2
URxvt.background:           [98]#282828
URxvt.colorIT:              [98]#8ec07c
URxvt.colorBD:              [98]#d5c4a1
URxvt.colorUL:              [98]#83a598
URxvt.scrollColor:          [98]#504945
!URxvt.troughColor:          [90]#3C3836

urxvt.perl-ext: xim-onthespot
urxvt.perl-ext-common: resize-font,clipboard
urxvt.inputMethod: fcitx
urxvt.preeditType: OnTheSpot

URxvt.resize-font.step: 1
URxvt.keysym.C-Down: resize-font:smaller
URxvt.keysym.C-Up: resize-font:bigger
